  <header>
    <nav class="blue darken-3" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">
          Information Meet
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            {{#if session.isAuthenticated}}
              <a class="waves-effect waves-light" {{ action 'invalidateSession' }}>
                <img src="{{session.secure.profile.picture}}" class="circle responsive-img left" style="height: 3rem"/>
              </a>
            {{else}}
              <a class="waves-effect waves-light" {{ action 'authenticateSession' }}>
                <i class="material-icons left">account_circle</i>
                Sign in
              </a>
            {{/if}}
          </li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a class="waves-effect waves-light"><i class="material-icons left">account_circle</i>Sign in</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </header>

  <main>
    <div class="container">
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4 l2">
            <div class="card hoverable">
              <a href="http://blog.informationmeet.com">
                <div class="card-content grey large center-align white-text">
                  <i class="material-icons large">message</i>
                  <h4>Blog</h4>
                </div>
              </a>
            </div>
          </div>

          <div class="col s12 m4 l3">
            <div class="card hoverable">
              <a href="http://eco.informationmeet.com">
                <div class="card-content green large center-align white-text">
                  <i class="material-icons large">attach_money</i>
                  <h4>Economy</h4>
                </div>
              </a>
            </div>
          </div>

          <div class="col s12 m4 l3">
            <div class="card hoverable">
              <a href="http://workbench.informationmeet.com">
                <div class="card-content blue large center-align white-text">
                  <i class="material-icons large">share</i>
                  <h4>Workbench</h4>
                </div>
              </a>
            </div>
          </div>

          <div class="col s12 m4 l2">
            <div class="card hoverable">
              <a href="http://status.informationmeet.com">
                <div class="card-content red large center-align white-text">
                  <i class="material-icons large">account_circle</i>
                  <h4>Status</h4>
                </div>
              </a>
            </div>
          </div>

          <div class="col s12 m4 l2">
            <div class="card hoverable">
              <a href="http://tools.informationmeet.com">
                <div class="card-content orange large center-align white-text">
                  <i class="material-icons large">fitness_center</i>
                  <h4>Tools</h4>
                </div>
              </a>
            </div>
          </div>
        </div>

      </div>
      <br><br>

      <div class="section">
        {{outlet}}
      </div>
    </div>
  </main>

  <footer class="page-footer blue">
    <div class="container">
    {{!-- ember-cli-materialize modal container --}}
    {{md-modal-container}}
    </div>
    <div class="footer-copyright">
      <div class="container">
      © Erik Larsson 2016
      </div>
    </div>
  </footer>
